<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rutas activas (Admin)</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/templates.css">
</head>

<body class="bg-dark text-light mt-4">

    <div class="container-fluid p-5">
        <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center mb-4 px-2">
            <div>
                <h2 class="mb-0 text-gradient-primary">Panel de rutas activas (Admin)</h2>
            </div>
            <div class="d-flex gap-3">
                <button id="btnCrearRuta" class="btn btn-gradient-success">✛ Crear nuevo ruta</button>
                <a href="/vista" class="btn btn-outline-gradient-primary px-4">Volver</a>
            </div>
        </div>

        <div id="recuadroAlert" class="alert alert-danger d-none" role="alert"></div>

        <div class="card shadow-lg rounded-4 bg-dark text-light text-center">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-dark table-hover align-middle mb-0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Zona</th>
                                <th>Dia</th>
                                <th>Horario</th>
                                <th>Activa</th>
                                <th>Camiones Asignados</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyRutas"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Pop-up (dialog) crear ruta -->
    <dialog id="dialogCrearRuta" class="rounded-4 p-4 bg-dark text-light shadow-lg">
        <h4 class="text-gradient-success text-center mb-4">Crear nueva ruta</h4>

        <form id="formCrearRuta">
            <div class="mb-3">
                <label for="nombreCrear" class="form-label">Nombre</label>
                <input id="nombreCrear" class="form-control form-control-dark" type="text" required>
            </div>

            <div class="mb-3">
                <label for="zonaCrear" class="form-label">Zona</label>
                <input id="zonaCrear" class="form-control form-control-dark" type="text" required>
            </div>

            <div class="mb-3">
                <label for="diaSemanaCrear" class="form-label">Día de la semana</label>
                <select id="diaSemanaCrear" class="form-control form-control-dark" required>
                    <option value="LUNES">LUNES</option>
                    <option value="MARTES">MARTES</option>
                    <option value="MIERCOLES">MIERCOLES</option>
                    <option value="JUEVES">JUEVES</option>
                    <option value="VIERNES">VIERNES</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="horaInicioCrear" class="form-label">Hora Inicio</label>
                <input id="horaInicioCrear" class="form-control form-control-dark" type="time" required>
            </div>

            <div class="mb-3">
                <label for="horaFinCrear" class="form-label">Hora Fin</label>
                <input id="horaFinCrear" class="form-control form-control-dark" type="time" required>
            </div>

            <div class="mb-3">
                <label for="activaCrear" class="form-label">Activa</label>
                <select id="activaCrear" class="form-control form-control-dark">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div id="msgCrearError" class="alert alert-danger d-none" role="alert"></div>

            <div class="d-flex justify-content-center gap-2 mt-3">
                <button type="button" class="btn btn-outline-gradient-primary"
                    onclick="document.getElementById('dialogCrearRuta').close()">Cancelar</button>
                <button type="submit" class="btn btn-gradient-primary px-4 fs-5">Crear</button>
            </div>
        </form>
    </dialog>


    <!-- Pop-up (dialog) editar ruta -->
    <dialog id="dialogEditarRuta" class="rounded-4 p-4 bg-dark text-light shadow-lg">
        <h4 class="text-gradient-primary text-center mb-4">Editar ruta</h4>
        <form id="formEditarRuta">
            <input type="hidden" id="idRutaEditado">

            <div class="mb-3">
                <label for="nombreEditar" class="form-label">Nombre</label>
                <input id="nombreEditar" class="form-control form-control-dark" type="text" required>
            </div>

            <div class="mb-3">
                <label for="zonaEditar" class="form-label">Zona</label>
                <input id="zonaEditar" class="form-control form-control-dark" type="text" required>
            </div>

            <div class="mb-3">
                <label for="diaSemanaEditar" class="form-label">Día de la semana</label>
                <select id="diaSemanaEditar" class="form-control form-control-dark" required>
                    <option value="LUNES">LUNES</option>
                    <option value="MARTES">MARTES</option>
                    <option value="MIERCOLES">MIERCOLES</option>
                    <option value="JUEVES">JUEVES</option>
                    <option value="VIERNES">VIERNES</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="horaInicioEditar" class="form-label">Hora Inicio</label>
                <input id="horaInicioEditar" class="form-control form-control-dark" type="time" required>
            </div>

            <div class="mb-3">
                <label for="horaFinEditar" class="form-label">Hora Fin</label>
                <input id="horaFinEditar" class="form-control form-control-dark" type="time" required>
            </div>

            <div class="mb-3">
                <label for="activaEditar" class="form-label">Activa</label>
                <select id="activaEditar" class="form-control form-control-dark">
                    <option value="true">Si</option>
                    <option value="false">No</option>
                </select>
            </div>

            <div id="editError" class="alert alert-danger d-none mt-3 mb-0" role="alert"></div>

            <div class="d-flex justify-content-center gap-2 mt-3">
                <button type="button" class="btn btn-secondary"
                    onclick="document.getElementById('dialogEditarRuta').close()">Cancelar</button>
                <button type="submit" class="btn btn-gradient-primary" id="btnGuardarEdicion">Guardar</button>
            </div>
        </form>
    </dialog>

    <script src="/js/ADMIN/rutasAdmin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootbox@5/dist/bootbox.min.js"></script>

</body>

</html>